
* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hide {
    display: none;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #687EFF;
}

/* index.html */
#judul {
    font-size: 100px;
    color: white;
}

#play {
    margin-top: 20px;
    background-color: #98E4FF;
    text-decoration: none;
    border: none;
    outline: none;
    color: #292929;
    font-weight: bold;
    font-size: 15px;
    padding: 30px 80px;
    border-radius: 30px;
}

#play:hover {
    background-color: #80B3FF;
    cursor: pointer;
}


/* quiz-main.html */

#question-area {
    background-color: #80B3FF;
    width: 75%;
    padding: 20px;
    border-radius: 10px;
    color: #292929;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

#answer-area .answer {
    width: 15rem;
    height: 5rem;
    background-color: #98E4FF;
    border: none;
    outline: none;
    padding: 5px;
    margin: 10px;
    border-radius: 20px;
}

#answer-area .answer:hover {
    background-color: #80B3FF;
    cursor: pointer;
}